


<h3>AngularJS view.  You may need to <a href="#" onclick='javascript:window.location.reload();'>  RELOAD </a> this page   </h3>
<br>Click <a href="/"> here </a>  to see rails view

<br>
<br>
    <div ng-app="yApp" ng-controller="y_usersController">
Filter users  : &nbsp; &nbsp; <input type="text" ng-model="yamUser">  &nbsp; &nbsp;&nbsp; &nbsp;  <br> <br>

        
        {{message}}
        
       <div class="datagrid">
			<table id="tblExport"  >
				<thead valign="top">
					<tr>
						<th>userID</th>
						<th>Full Name</th>
						<th>NetworkID</th>
						<th>Activation Date</th>
						<th>Face</th>

					</tr>
				</thead>
				<tbody>

					<tr ng-repeat ="user in users | filter:yamUser" ng-class-even="'alt'">
						<td> {{ user.id}}</td>
						<td> {{ user.full_name }}</td>
						<td> {{ user.network_id }}</td>
						<td> {{ user.activated_at}}</td>
						<td> <img src= "{{ user.mugshot_url}}"/></td>
					</tr>
				</tbody>
			</table>
</div>
		</div>




<br>

