<!DOCTYPE html>
<html>
<head>
 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
 
 <script  src="https://code.angularjs.org/1.2.23/angular-cookies.min.js"></script>
    
<script  src="https://code.angularjs.org/1.2.23/angular-resource.min.js"></script>
    
  <title>Oauthdance</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
